@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: bisque;
}

.content-wrapper {
  height: 620px;
}

.letters-wrapper {
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 500px;
}

.written-text {
  width: 300px;
  margin-left: 50px;
  padding: 20px;
  background-color: whitesmoke;
  height: 300px;
  border-radius: 5px;
  font-size: 2rem;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.clear-button {
  background-color: whitesmoke;
  margin-left: 50px;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 100px;
}